html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper{
  z-index: 1;
}

.navbar {
  position: fixed;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10vh;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
}

.navbar-item {
  position: relative;
  font-size: 2.7vmin;
  cursor: pointer;
  padding: 1vmin;
  transition: 0.3s;
  color: black;

}

.navbar-item:hover{
  background-color: rgb(240, 240, 240);
}

.navbar-item-logo {
  font-size: 4vmin;
  font-weight: 900;
}

.button {
  font-size: 2vmin;
  width: fit-content;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0.5vmin;
  padding: 1.5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  font-weight: 900;
  cursor: pointer;
}

.navbar-item-button {
  font-size: 2.5vmin;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0.5vmin;
  padding: 1vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.container-button{
    background-color: white;
    font-weight: 600;
    border: 0;
    margin-left: 2vmin;
    margin-top: 6vmin;
}

.input-text{
    color: white;
    padding: 1.5vmin;
    border-radius: 1vmin;
    background-color: rgba(255, 255, 255, 0.253);
    border: 1px solid white;
    outline: 0;
}

.input-text::placeholder{
  color: rgba(255, 255, 255, 0.692);
}

.navbar-item-button:hover {
  background-color: rgb(243, 243, 243);
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 15%;
}

.container-1{
  height: 100vh;
  background: linear-gradient(135deg, rgb(0, 83, 192), rgb(208, 139, 255));
}

.text-container{
  display: block;
  position: relative;
  width: 50%;
}


.header{
  color: white;
  font-size: 7vmin;
  font-weight: 900;
}

.footer{
  color: white;
  font-size: 3vmin;
  font-weight: 100;
}

.image-phone{
  position: relative;
  width: 35%;
  margin-top: 25vh;
  object-fit: cover;
}

.text-and-image-container{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

.container-2{
  background-color: rgb(255, 255, 255);
  height: fit-content;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.black{
  color: black;
}

.font-big{
  font-size: 6.5vmin;
}

.font-small{
  font-size: 3vmin;
  font-weight: 400;
}

.font-smaller{
  font-size: 2.3vmin;
  font-weight: 400;
}

.width-80{
  width: 80%;
}

.width-60{
  width: 60%;
}

.width-50{
  width: 50%;
}

.container-3{
  background-color: rgb(255, 255, 255);
  height: fit-content;
  padding-top: 30vh;
}

.image-rating{
  width: 25%;
  display: block;
  margin: auto;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  margin-top: 30vh;
}

.container-4{
  background: linear-gradient(135deg, rgb(0, 83, 192), rgb(208, 139, 255));
  height: fit-content;
  margin-top: 30vh;
  padding-top: 15vmin;
  padding-bottom: 15vmin;
}

.container-5{
  background-color: rgb(241, 241, 241);
  height: fit-content;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.container-6{
  background-color: rgb(255, 255, 255);
  height: fit-content;
  padding-top: 30vh;
}

.light-gradient{
  background: radial-gradient(circle closest-corner at 50% 100%,#ebc0ff,#fff 68%);
}

.image-phone-small{
  position: relative;
  width: 35%;
  object-fit: contain;
  filter: drop-shadow(10px 0px 10px rgb(138, 138, 138));
}

.text-container-column{
  display: block;
  position: relative;
  width: 40%;
}

.small-header{
  font-weight: 600;
  font-size: 2.7vmin;
}

.font-medium{
  font-size: 4.5vmin;
}

.icon{
  width: 8vmin;
  margin-right: 3vmin;
  object-fit: contain;
}

.flex{
  display: flex;
  flex-direction: row;
}

.text-center{
  text-align: center;
}

.white{
  color: white;
}

.column{
  flex-direction: column;
}

.margin-auto{
  margin: auto;
  position: relative;
}

.margin-bottom-10{
  margin-bottom: 10vmin;
}

.margin-bottom-3{
  margin-bottom: 3vmin;
}

.margin-top-3{
  margin-top: 3vmin;
}

.margin-top-30{
  margin-top: 30vmin;
}

.flex-wrap{
  flex-wrap: wrap;
}


.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background-blue{
  background: linear-gradient(rgb(46, 182, 255), rgb(209, 239, 255));
  padding: 1vmin;
  border-radius: 1vmin;
}
.background-green{
  background: linear-gradient(rgb(46, 255, 81), rgb(209, 255, 213));

  padding: 1vmin;

  border-radius: 1vmin;
}
.background-orange{
  background: linear-gradient(rgb(255, 164, 46), rgb(255, 235, 209));

  padding: 1vmin;

  border-radius: 1vmin;
}
.background-red{
  background: linear-gradient(rgb(255, 46, 46), rgb(255, 209, 209));

  padding: 1vmin;

  border-radius: 1vmin;
}

.opinion{
  padding: 1vmin;
  margin: 2vmin;
  width:fit-content;
  box-shadow: 0px 0px 2px rgb(207, 207, 207);
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.opinion-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.opinion-avatar{
  height: 5vmin;
  margin-right: 1vmin;
}

.posts-container{
  display: flex;
  justify-content: center;
}

.post{
  height: 350px;
  padding: 5vmin;
  margin: 2px;
  box-shadow: 0px 0px 5px rgb(211, 211, 211);
  background-color: rgb(255, 255, 255);
}

.post-photo{
  position: relative;
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.height-30{
  height: 10vmin;
}

a{
  text-decoration: none;
}

.bottom-bar{
  background-color: rgb(236, 236, 236);
  height: 10vh;
}