body{
    background-color: rgb(62, 146, 255);
    margin: 0;
}

.navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: fit-content;
    
}

.navbar-item{

}